.fillInTheBlank > .wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: var(--textColor);
    height: 100%;
    width: 100%;
}

.fillInTheBlank > .wrapper > h1{
    margin: 2vh;
}

.fillInTheBlank > .wrapper > .questionBox{
    background-color: var(--darkGrey);
    height: 17vh;
    border-radius: 5px;
    padding: 2vh;
    font-family: outfit;
    font-size: var(--fontSizeThree);
}

.fillInTheBlank > .wrapper > .questionBox > p{
    margin: 0;
    font-family: outfit;
    font-size: var(--fontSizeThree);
}

.fillInTheBlank > .wrapper > .inputWrapper{
    background-color: var(--black);
    width: 100%;
    position: relative;
}

.fillInTheBlank > .wrapper > .inputWrapper > textarea{
    -webkit-appearance: none;
    border-radius: 0;
    font-size: var(--fontSizeSix);
    width: 90%;
    height: 10vh;
    background-color: var(--darkGrey);
    color: var(--textColor);
    border: none;
    padding: 2vh;
}

.fillInTheBlank > .wrapper > .inputWrapper> input:focus{
    outline: none;
}

.fillInTheBlank > .wrapper > .inputWrapper > .sendIcon{
    position: absolute;
    top: 25px;
    right: 40px;
}

.fillInTheBlank > .wrapper > .answers{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.fillInTheBlank > .wrapper > .answers > div{
    border: 3px solid var(--darkGrey);
    height: 7vh;
    border-radius: 5px;
    padding: 2vh;

    display: flex;
    align-items: center;

    font-family: outfit;
    font-size: var(--fontSizeFive);
}

.fillInTheBlank > .wrapper > .answers > div.selected{
    border: 1px solid var(--green);
}

.fillInTheBlank > .wrapper > .answers > div.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fillInTheBlank > .wrapper > .answers > div.mostVoted{
    border: 3px solid var(--green);   
    color: var(--green);
}

.fillInTheBlank > .wrapper > .answers > div.result{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fillInTheBlank > .wrapper > .answers > div.result > .answerName{
    background-color: #161616;
    border-radius: 0;
    color: var(--darkGrey);
    position: absolute;
    width: 17vw;
    top: -17px;
}

.fillInTheBlank > .wrapper > .answers > div.mostVoted > .answerName {
    color: var(--green);
}

.fillInTheBlank > .wrapper > .answers > div.result > div{
    background-color: var(--darkGrey);
    color: var(--orange);
    font-size: var(--fontSizeFive);
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
