/*Game display*/
.gameDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    grid-template-rows: repeat(10,1fr);
    height: 90%;
}

/*Each game display*/
.gameDisplay > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--textColor);
    font-family: outfit;
    border: 1px solid var(--mediumGrey);
    background-color: var(--black);
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
}

.gameDisplay > .neverHaveIEver{
    grid-column: 1/span 2;
    grid-row: 1/span 2;
}
.truthOrDare{
    grid-column: 1;
    grid-row: 3/6;
}
.wouldYouRather{
    grid-column: 2;
    grid-row: 3/5;
}
.mostLikelyTo{
    grid-column: 2;
    grid-row: 5/8;
}
.spinTheBottle{
    grid-column: 1;
    grid-row: 6/8;
}

.fillInTheBlank{
    grid-column: 1/span 2;
    grid-row: 8/10;
}

.gameDisplay > div > h3{
    margin: 0;
    font-size: var(--fontSizeFour);
    grid-column: 1/span 3;
}

.gameDisplay > div > div{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.gameDisplay > div > div > div {
    display: flex;
    gap: 1vw;
}

.gameDisplay > div > div > div > p{
    margin: 0;
}

/*Join game by Id button*/
.gameDisplay > div.joinGame{
    background-color: var(--buttonColor);
    color: var(--textOnWhite);
    font-size: var(--fontSizeFive);
    grid-column: 1/span 2;
    grid-row: 10;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gameDisplay > div.leavGameDisplay{
    border: none;
    grid-column: 1/span 2;
    grid-row: 10;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: transparent;
    padding: 0;
}

.gameDisplay > div.leavGameDisplay > button{
    font-family: outfit;
    font-weight: var(--fontRegular);
    font-size: var(--fontSizeFive);

    background-color: var(--white);
    color: var(--textOnWhite);
    height: 70%;
    width: 40vw;
    padding: 1vh;
    border-radius: 10px;

    cursor: pointer;
}

.gameDisplay > div.leavGameDisplay > div{
    font-size: 40px;
    font-family: museoModerno;
    font-weight: var(--fontBold);
    color: var(--green);
}

footer.removed{
    height: 0;
}

