:root {
    --pink: #E7538C;
    --green: #B1C871;
    --orange: #E9A072;
    --gradient: linear-gradient(90deg, rgba(177, 200, 113, 1) 0%, rgba(233, 160, 114, 1) 50%, rgba(231, 83, 140, 1) 100%);
    --pinkGradient: linear-gradient(180deg, rgba(233, 160, 114, 1) 0%, rgba(231, 83, 140, 1) 100%);
    --greenGradient: linear-gradient(177deg, #B1C871 32.27%, #E9A072 64.13%);
    --black: #131313;
    --darkGrey: #2A2A2A;
    --mediumGrey: #373737;
    --grey: #747474;
    --lightGrey: #C1C1C1;
    --white: #E6E6E6;
    --textColor: #C1C1C1;
    --textOnWhite: #5D5D5D;
    --buttonColor: var(--lightGrey);


    --fontSizeHeader: 30px;
    --fontSizeTwo: 26px;
    --fontSizeThree: 22px;
    --fontSizeFour: 20px;
    --fontSizeFive: 18px;
    --fontSizeSix: 16px;

    --fontBold: 800;
    --fontMedium: 600;
    --fontRegular: 400;

    --boxShadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --boxShadowForMultipleCards: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: museoModerno;
    src: url(../museomoderno/MuseoModerno-VariableFont_wght.ttf);
}

@font-face {
    font-family: outfit;
    src: url(../outfit/Outfit-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body {
    /* background-color: var(--darkGrey); */
    background-image: url("../Media/BACKGROUND.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--textColor);
    height: 100vh;
    margin: 0;
    padding: 4vh;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    height: 80%;
}

footer {
    height: 10%;
}

/*SipNPlay header logo*/
#headerLogo {
    font-family: museoModerno;
    font-weight: var(--fontMedium);
    font-size: var(--fontSizeThree);

    height: 100%;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Hamburger menu*/
.menuPopupBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000007a;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}

.menuPopupBackground.active {
    opacity: 1;
    pointer-events: fill;
}

.menuPopup {
    height: 100%;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;

    color: var(--textColor);
    font-family: outfit;
    font-size: var(--fontSizeFour);
    background-color: var(--darkGrey);
    box-shadow: var(--boxShadow);

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 4vh;

    transition: 0.3s;
    opacity: 0;
    right: -500px;
    pointer-events: none;

}

.menuPopup.active {
    opacity: 1;
    right: 0px;
    pointer-events: fill;
}

.menuPopup>.fa-xmark {
    align-self: flex-end;
}

.menuOption {
    display: flex;
    gap: 2vh;
}

.menuOptions>div {
    cursor: pointer;
}

.games>svg,
.fa-user-group,
.fa-earth-americas,
.fa-circle-info {
    margin: 0;
    align-self: center;
}

.fa-bars,
.fa-xl {
    margin-top: 1vh;
    margin-left: 4vh;
}

/* INSTRUCTIONS */
.instructions {
    position: fixed;
    top: 20vh;
    bottom: 20vh;
    right: 5%;
    left: 5%;
    z-index: 100;

    font-family: outfit;
    background-color: var(--darkGrey);
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    padding: 5vh 4vh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.instructions>.fa-xmark {
    align-self: flex-end;
    font-size: var(--fontSizeTwo);
}

.instructions>.steps {
    height: 45vh;
}

.instructions>.steps>h3 {
    font-size: var(--fontSizeTwo);
    font-weight: var(--fontBold);
    color: var(--orange);
    margin-bottom: -1vh;
}

.instructions>.steps>p {
    font-size: var(--fontSizeThree);
}

.instructions>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23vw;
}

.instructions>div .fa-solid {
    font-size: var(--fontSizeFour);
}

.instructions>div .stepsIndicator {
    display: flex;
    gap: 1vh;
}

.instructions>div .stepsIndicator .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

/*Category page*/
.categoryDisplay {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categoryDisplay>h1 {
    text-align: center;
}

.categoryDisplay>div {
    background-color: var(--black);
    border: 1px solid var(--mediumGrey);

    border-radius: 5px;

    height: 10vh;
    width: 100%;
    padding: 2vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--green, #B1C871);
    /*Default color if color class fail*/
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.categoryDisplay>div.green {
    color: var(--green);
}

.categoryDisplay>div.orange {
    color: var(--orange);
}

.categoryDisplay>div.pink {
    color: var(--pink);
}

/*Quit button*/
.buttonQuit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/*Back arrow*/
.fa-chevron-left7 {
    margin: 0;
}