:root {
    --pink: #E7538C;
    --green: #B1C871;
    --orange: #E9A072;
    --gradient: linear-gradient(90deg, rgba(177, 200, 113, 1) 0%, rgba(233, 160, 114, 1) 50%, rgba(231, 83, 140, 1) 100%);
    --pinkGradient: linear-gradient(180deg, rgba(233, 160, 114, 1) 0%, rgba(231, 83, 140, 1) 100%);
    --greenGradient: linear-gradient(177deg, #B1C871 32.27%, #E9A072 64.13%);
    --black: #1B1B1B;
    --blackGrey: #2A2A2A;
    --darkGrey: #5D5D5D;
    --white: #E6E6E6;
    --textColor: #C1C1C1;
    --textOnWhite: #5D5D5D;
    --buttonColor: #C1C1C1;


    --fontSizeHeader: 30px;
    --fontSizeTwo: 26px;
    --fontSizeThree: 22px;
    --fontSizeFour: 20px;
    --fontSizeFive: 18px;

    --fontBold: 800;
    --fontMedium: 600;
    --fontRegular: 400;

    --boxShadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
    font-family: museoModerno;
    src: url(../museomoderno/MuseoModerno-VariableFont_wght.ttf);
}

@font-face {
    font-family: outfit;
    src: url(../outfit/Outfit-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;

}

body {
    background-color: #1B1B1B;
    color: var(--textColor);
    height: 100vh;
    margin: 0;
    padding: 4vh;
}

/*header*/
header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menuPopup{
    height: 100%;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;

    color: var(--textColor);
    font-family: outfit;
    font-size: var(--fontSizeFour);
    background-color: var(--blackGrey);
    box-shadow: var(--boxShadow);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4vh;
}

.menuPopup > .fa-xmark{
    align-self: flex-end;
}

.menuOption{
    display: flex;
    gap: 1vh;
}

.fa-martini-glass-empty, .fa-user-group, .fa-earth-americas, .fa-circle-info{
    margin: 0;
    align-self: center;
}

main{
    height: 80%;
}

footer {
    height: 10%;
}

/*SipNPlay header logo*/
#headerLogo {
    font-family: museoModerno;
    font-weight: var(--fontMedium);
    font-size: var(--fontSizeThree);

    height: 100%;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Hamburger menu*/
.fa-bars,
.fa-xl {
    margin-top: 1vh;
    margin-left: 4vh;
}

/*Category page*/
.categoryDisplay{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categoryDisplay > h1{
    text-align: center;
}

.categoryDisplay > div{
    background-color: var(--blackGrey);
    border-radius: 5px;

    height: 10vh;
    width: 100%;
    padding: 2vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: var(--green, #B1C871); /*Default color if color class fail*/
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.categoryDisplay > div.green{
    color: var(--green);
}
.categoryDisplay > div.orange{
    color: var(--orange);
}
.categoryDisplay > div.pink{
    color: var(--pink);
}

/*Quit button*/
.buttonQuit{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

/*Back arrow*/
.fa-chevron-left7{
    margin: 0;
}