
.neverHaveIEver{
    color: var(--textColor);
    font-family: outfit;
}

.neverHaveIEver > h1{
    text-align: center;
    font-size:  var(--fontSizeHeader);
    margin-top: 2vh;
    margin-bottom: 4vh;
}

/*Question cards*/
.cards{
    height: 50vh;
    width: 100%;
    position: relative;
}

.cards > div{
    background-color: var(--blackGrey);
    box-shadow: 0 -5px 5px 0px rgba(0, 0, 0, 0.2);

    font-family: outfit;
    font-size: var(--fontSizeThree);
    border-radius: 5px;
    padding: 3vh;
    height: 50vh;
    width: 100%;
}

.cards p{
    margin: 0;
}

/*Current card on display*/
.neverHaveIEver > .cards > .currentCard{
    box-shadow: var(--boxShadowForMultipleCards);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    position: absolute;
    z-index: 4;
}

.currentCard > .question{
    padding-top: 1vh;
}

.cardInformation{
    color: var(--green);
    font-size: var(--fontSizeFive);

    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

/*Cards in stack*/
.cards > .backCard{
    position: absolute;
    top: 0;
}

.cards > :nth-child(2){
    top: -5px;
    z-index: 3;
}
.cards > :nth-child(3){
    top: -9px;
    z-index: 2;
}
.cards > :nth-child(4){
    top: -13px;
    z-index: 1;
}

/*Swipe fpr next card*/
.swipeNextCard{
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.swipeNextCard > div{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipeNextCard > div > p{
    margin: 0;
}



