
.neverHaveIEver{
    color: var(--textColor);
    font-family: outfit;
}
.neverHaveIEver > h1{
    text-align: center;
    font-family: museoModerno;
    font-size:  var(--fontSizeHeader);
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.cards{
    height: 55vh;
    width: 100%;
    border-radius: 5px;

    background-color: var(--blackGrey);
    box-shadow: var(--boxShadow);
}

.swipeNextCard{
    display: flex;
    flex-direction: column;
}

.buttonQuit{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.fa-chevron-left7{
    margin: 0;
}

