.startGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Game pin*/
.startGame>div.gameId {
    font-size: 35px;
    font-family: museoModerno;
    font-weight: var(--fontBold);
    color: var(--green);
    background-color: var(--black);
    border: 1px solid var(--mediumGrey);
    height: 9vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*Game pin text*/
.startGame>h2 {
    font-size: var(--fontSizeTwo);
    margin-top: 5vh;
}


.startGame>h3 {
    font-family: outfit;
    font-size: var(--fontSizeTwo);
    font-weight: var(--fontMedium);
}

/*Participants text*/
.startGame>h4 {
    font-family: outfit;
    font-size: var(--fontSizeFour);
    font-weight: var(--fontMedium);
}

.startGame>.participants {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.startGame>p {}

.startGame>.participants>div {
    border: 3px solid var(--mediumGrey);
    border-radius: 5px;
    font-family: outfit;
    font-size: var(--fontSizeFive);

    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.startGame>p {
    font-family: outfit;
    font-size: var(--fontSizeFive);
    color: var(--textColor);
    text-align: center;
}

.waitingText {
    margin-top: 30vh;
}

.startGame>input {
    width: 100%;
    height: 6vh;
    background-color: var(--black);
    border: 1px solid var(--mediumGrey);
    border: none;
    border-radius: 5px;
    padding: 1vh;

    font-family: outfit;
    font-size: var(--fontSizeSix);
    color: var(--textColor);
    -moz-appearance: textfield;
}

.startGame>input.gameId {
    font-size: var(--fontSizeFive);
}

.startGame>.participants {
    text-align: center;
}

.startGame>button {
    font-family: outfit;
    font-weight: var(--fontRegular);
    font-size: var(--fontSizeFive);

    background-color: var(--buttonColor);
    border-radius: 20px;

    margin-top: 5vh;
    height: 5vh;
    width: 50vw;

    cursor: pointer;
}

.startGame>button.longButton {
    width: 100%;
    margin-top: 2vh;
    color: var(--black);
}

.startGame>button.clearDesign {
    background-color: transparent;
    border: 1px solid var(--buttonColor);
    color: var(--textColor);
}


footer #startGameButton {
    font-family: outfit;
    font-weight: var(--fontRegular);
    font-size: var(--fontSizeFive);

    background-color: var(--white);
    color: var(--darkGrey);
    height: 55%;
    width: auto;
    padding: 0 4vh;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer #startGameButton:disabled {
    background-color: var(--darkGrey);
    color: var(--mediumGrey);
    box-shadow: none;
}

/*Leave game popup*/
#leaveGamePopUp {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0E0E0EB5;

    display: flex;
    justify-content: center;
    align-items: center;
}

#leaveGamePopUp>div {
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    z-index: 3;

    height: 20vh;
    width: 92%;
    border-radius: 5px;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSizeFour);
    text-align: center;
}

#leaveGamePopUp>div.oneButtonPopUp>div {
    justify-content: center;
}

#leaveGamePopUp>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#leaveGamePopUp>div>p {
    margin: 0;
    padding-bottom: 10px;
    font-family: outfit;
}

#leaveGamePopUp>div>div>button {
    font-family: outfit;
    font-weight: var(--fontRegular);
    font-size: var(--fontSizeFive);

    background-color: var(--white);
    color: var(--darkGrey);
    height: 55%;
    width: 50%;
    padding: 2vh;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#leaveGamePopUp>div>div>button.clearDesign {
    background-color: transparent;
    border: 1px solid var(--buttonColor);
    color: var(--buttonColor);
}

.infoBox,
.startGame>.infoBox {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #0E0E0EB5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBox>div,
.startGame>.infoBox>div {
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: column;
    font-family: outfit;
    font-size: var(--fontSizeFour);

    height: 15vh;
    width: 80%;
    border-radius: 5px;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    text-align: center;
}

.infoBox > .infoBoxTall, 
.startGame >.infoBox > .infoBoxTall{
    height: 20vh;
}

.infoBox > .infoBoxTall > button,
.startGame>.infoBox > .infoBoxTall > button{
    height: 30%;
    color: var(--darkGrey);
}
.infoBox > .infoBoxTall > p,
.startGame >.infoBox > .infoBoxTall > p{
    margin-top: 0;
}

.startGame>.infoBox>div>button {
    font-family: outfit;
    font-weight: var(--fontRegular);
    font-size: var(--fontSizeFive);

    background-color: var(--white);
    height: 55%;
    width: auto;
    padding: 2vh;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}