#wouldYouRatherWrapper {
    text-align: center;
}

#wouldYouRatherWrapper progress {
    width: 100%;
}

#wouldYouRatherWrapper section button {
    position: relative;
    height: 27vh;
    width: 100%;

    font-size: var(--fontSizeFour);
    font-family: outfit;
    font-weight: var(--fontRegular);

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4vh 3.5vh;
    color: var(--textColor);
}

#wouldYouRatherWrapper section button p {
    margin: 0;
    text-align: left;
}

#wouldYouRatherWrapper section button span {
    position: absolute;
    bottom: 15px;
    right: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
}

#wouldYouRatherWrapper section button span mark {
    color: var(--textColor);
    background-color: transparent;
    font-size: var(--fontSizeFour);
    font-weight: var(--fontRegular);
}

#wouldYouRatherWrapper section div {
    top: 44%;
    z-index: 100;
}

#wouldYouRatherWrapper .timer {
    background-color: var(--white);
    height: 1vh;
    width: 100%;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    border-radius: 5px;

    position: relative;
}

#wouldYouRatherWrapper .timer>.progressbar {
    background-color: var(--pink);
    position: absolute;
    top: 0;

    height: 1vh;
    width: 100%;
    border-radius: 5px;

    transition-property: width;
    transition-duration: 2s;
}